<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/3bd5070403.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'noteapp/style.css' %}" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="notebook-meta">
        <a href="{% url 'index' %}"
          ><img src="{% static "noteapp/images/super.png" %}" class="notes-logo"
          alt="Logo"></a>
      <!-- <div id="form-container">
        <form method = "POST">
          {% csrf_token %}
          <input type="text" class="searchbar" id="searchBar" placeholder="Search" name = "search" required>
        </form>
      </div> -->
      </div>

      {% block content %} {% endblock %}
    </div>
  </body>
</html>
